{% extends 'base.html' %}
{% block content %}


<div class="container">
    <div class="jumbotron text-center m-4 ">
        <form action="" method="post">
            {% csrf_token %}
            <fieldset>
                <legend>
                    Delete Post
                </legend>
            </fieldset>
            <div>
                <p>Are you sure you want to delete <strong><em>{{object.title}}</em></strong>?</p>
                <a class="btn btn-outline-secondary" href="{% url 'postdetail' object.slug %}">Cancel</a>
                <button class="btn btn-outline-danger" type="submit">Delete</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
