{% extends 'base.html' %}
{% comment %} {% block content %} {% endcomment %}
{% load bootstrap4 %}
{% comment %} {% bootstrap_css %} {% endcomment %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% load crispy_forms_tags%}

{% block content %}

<div class="container">
<div class="form-row">
    <div class="form-group col-md-12 mb-0">
    <form enctype='multipart/form-data' method="post" class="p-2">
        {% csrf_token %}
<!--        {{form|crispy}}-->
        {% bootstrap_form form %}
        <button class="btn btn-primary btn-block" type="submit">Post</button>
    </form>
</div>
</div>
    </div>
{% endblock content %}