{% extends 'base.html' %}
{% block content %}
<h1>Boxitem details</h1>

<h3> Title: {{ object.title }}</h3>
<p>Description : {{ object.description }}</p>
<p>Date Posted: {{ object.date_posted|date:"F d, Y" }}</p>
<p>Expire by: {{object.expiration}}</p>
<p>Category: {{object.item_category}}</p>
<p>Status: {{object.que_assign}}</p>
<img src="{{object.image.url}}" alt="coming soon" style="height: 200px">
<button onclick="window.history.back()">Back</button>

<a  class="btn btn-outline-secondary" href="{%url 'postupdate' object.id%}">Update</a>
        <a  class="btn btn-outline-danger" href="{%url 'postdelete' object.id %}">Delete</a>

{% endblock content %}


