{% extends 'base.html' %}

{% block content %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{{ form.media }}
{% load crispy_forms_tags%}


<div class="container">
    <div class="card mt-4">
        <form class="p-2" enctype='multipart/form-data' method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button class="btn btn-primary btn-block" type="submit">Post</button>
        </form>
    </div>
</div>


{% endblock content %}
