{% extends 'base.html' %}
{% block content %}
<div>
    <h2>Homepage</h2>

    <h4><a href="{% url 'userposts' user.username %}">My Profile</a></h4>
    <hr>
    {% for post in posts %}

    Title: <a href="{% url 'postdetail' post.slug  %}">{{post.title}}</a>
    <p>description: {{post.description}}</p>
    <p>Posted by: {{post.profile}}</p>

    <img alt="{{post.title}}" src="{{post.image.url}}" style="height: 80px">
    <br>
    profile = {{post.profile}} <br>

    user = {{user}}
    <br>
    {% if user.profile in post.reserve.all %}
    <button disabled>Reserved</button>
    {% else %}
    <a aria-pressed="true" class="btn btn-primary btn-lg active btn-block" href="{% url 'reserve' post.slug %}"
                   role="button">
                    Reserve
                </a>
    {% endif %}


    <hr>
    {% endfor %}


</div>
{% endblock content %}
