body {
    font-family: sans-serif;
    background-color: 9BC4E2;
}

ul{
    margin: 0;
}

h1{
    color: white;
}

.popover{
    min-width: 10%;
    min-height: 1%;
    margin-top: 1.1%;
    text-align: center;
    margin-right: 9%;
    background: #343a40!important;
}

.card{
    width:100%;
    height:auto;
    margin: 10px;
} 

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}